

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Page</title>
    <!-- <link rel="stylesheet" href="../Style/Home_Page.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Successful_Page.css') }}">
    <script>
        setTimeout(() => {
            window.location.href = "/file?path={{path}}";
        }, 500);
    </script>
</head>

{% extends 'base.html' %}
{% block body %}
    <div class="main">
        <h1>Free YouTube Playlist Downloading</h1>
        <div class="submain">
            <div class="sub-submain">
                <!-- <div class="sub-submain-img">
                    <img class="sub-domain-main-img" src="{{ url_for('static', filename='icons/youtube_main.svg') }}" >
                </div> -->
                
                <div class="sub-main2">
                    <h2>{{ path }}</h2>
                    <h2>Your Playlist Successfully Downloaded....</h2>
                    <h2>Thank You.....</h2>
                    <h4>visit Again...</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}